<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lavadero POS{% endblock %}</title>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet">
    
    <!-- Estilos Base -->
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'Cliente/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'Cliente/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'Cliente/css/estado_servicios.css' %}">
    <link rel="stylesheet" href="{% static 'Cliente/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'Cliente/css/estado_servicios.css' %}">
    <link rel="stylesheet" href="{% static 'Cliente/css/ticket_orden.css' %}">
    
    <!-- Estilos Específicos de la Página -->
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>
